<br />
<div class="jumbotron">
    <h1 class="display-3"><span class="glyphicon glyphicon-save"></span>  Export your results</h1>
    <h4>Clicking <b>Export</b> will prompt you to download a file encrypted with the asymetric key you were given at the start.</h4>
    <hr class="my-5">
    <p class="lead">
    <div class="row">
        <div class="col-lg-12">
                <a class="btn btn-primary btn-success" asp-controller="Audit" asp-action="Export" role="button"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Export</a>
        </div>
    </div>
    </p>
</div>